.frontpage-quote {
  @include layout-wrapper($breakpoint-largedesk);

  border-bottom: 1px solid $color-gray-light;
  padding-bottom: $spacing-pixel-medium;

  @include breakpoint($breakpoint-desk) {
    padding-bottom: $spacing-pixel-xlarge;
    padding-bottom: $spacing-pixel-large;
  }
}