<!--menu.html.twig END-->
<div class="hamburger-menu--toggle js-menu-toggle">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<!--menu.html.twig START-->
<nav class="hamburger-menu">
  <div class="hamburger-menu--inner">
    <div class="hamburger-menu--links">
      <div class="hamburger-menu--group">
        <a href="#" class="nav--link">
          Start
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="#" class="hamburger-menu--link">
          Det kan vi
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="#" class="hamburger-menu--link">
          Det får du
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="#" class="hamburger-menu--link">
          Cases
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="#" class="hamburger-menu--link">
          Om os
        </a>
      </div>
    </div>
  </div>
</nav>