{% embed "footer.twig" %}
  {% block content %}
    {% include "modules-footer-contact" %}
    {% include "modules-footer-cases" %}
  {% endblock %}
  {% block bottom %}
    <p>- en del af Aarhus Kommune</p>
    <div class="footer--logo">{% include "elements-aarhus-logo" %}</div>
  {% endblock %}
{% endembed %}
