@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway-Light'), url(fonts/raleway/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  src: local('Raleway-Light-Italic'), url(fonts/raleway/Raleway-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(fonts/raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway-Italic'), url(fonts/raleway/Raleway-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway-SemiBold'), url(fonts/raleway/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: local('Raleway-SemiBold-Italic'), url(fonts/raleway/Raleway-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway-Bold'), url(fonts/raleway/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: local('Raleway-Bold-Italic'), url(fonts/raleway/Raleway-BoldItalic.ttf) format('truetype');
}
