<div class="demo-z-index">
  <div class="demo-z-index--one">
    <p>z-index 0</p>
  </div>
  <div class="demo-z-index--two">
    <p>z-index 1</p>
  </div>
  <div class="demo-z-index--three">
    <p>z-index 2</p>
  </div>
</div>