<div class="hamburger-menu--toggle js-hamburger-menu-toggle">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<nav class="hamburger-menu">
  <ul class="hamburger-menu--links">
  {% for group in hamburgerMenu %}
    <li class="hamburger-menu--group">
    {% for item in group %}
      <a href="{{ item.link }}" class="hamburger-menu--link">{{ item.title }}</a>
    {% endfor %}
    </li>
  {% endfor %}
  </ul>
</nav>
