$box-spacing-small: $spacing-pixel-small;
$box-spacing-medium: $spacing-pixel-medium;
$box-spacing-large: $spacing-pixel-large;

.box {
  @include strip-link-styles($color-black);

  align-items: center;
  box-sizing: border-box;
  color: $color-black;
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: $box-spacing-small;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .25s;

  &:not(:first-child) {
    margin-top: $box-spacing-large;
  }

  &:hover {
    background-color: $color-gray-lighter;
  }

  // States.
  &.has-color {
    @include strip-link-styles($color-white);

    background-color: $color-green;
    color: $color-white;

    &:hover {
      background-color: $color-dark-blue;
    }
  }

  &--header {
    flex: 0 0 auto;
    margin-top: $box-spacing-medium;
  }

  &--content {
    margin-top: $box-spacing-medium;
  }

  &--link {
    display: block;
    margin-top: $box-spacing-medium;
  }

  &:hover {
    .box--link {
      margin-left: $box-spacing-large;
      transition: margin .25s;
    }
  }
}
