<article class="box">
  <a href="#" title="Hvem er vi">{% include "elements-coffee" with {iconColor: 'black', iconSize: 'is-large'} %}</a>
  <div class="box--inner">
    <h2 class="box--header"><a href="#" title="Hvem er vi">Hvem er vi</a></h2>
    <p class="box--content">Vi er en flok passionerede nørder, der ved hvad der rør’ sig i det digitale</p>
    <a href="#" title="Hvem er vi" class="box--link">{% include "elements-arrow-right" with {iconColor: 'black', iconSize: 'is-small'} %}</a>
  </div>
</article>