$box-spacing: 20px;
$box-spacing-large: 40px;

.box {
  @include strip-link-styles($color-black);

  align-items: center;
  box-sizing: border-box;
  color: $color-black;
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  margin-top: $box-spacing-large;
  padding: $box-spacing-large;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .25s;

  &:hover {
    background-color: $color-gray-lighter;
  }

  // States.
  &.has-color {
    @include strip-link-styles($color-white);
    background-color: $color-green;
    color: $color-white;

    &:hover {
      background-color: $color-dark-blue;
    }
  }

  @include breakpoint($breakpoint-desk) {

    // Box layouts.
    &.is-thirds {
      // It seems there are some rounding issues (at least in Chrome) that is why we multiply with 2.035.
      // Not pretty but necessary.
      flex-basis: calc(33.3333% - #{$box-spacing * 2.035});
      margin: $box-spacing-large $box-spacing $box-spacing;
    }
  }

  &--header {
    flex: 0 0 auto;
    line-height: $box-spacing-large;
    margin-top: $box-spacing;
  }

  &--content {
    margin-top: $box-spacing;
  }

  &--link {
    display: block;
    margin-top: $box-spacing;
  }

  &:hover {
    .box--link {
      margin-left: $box-spacing-large;
      transition: margin .25s;
    }
  }
}
