.logo {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100px;
  width: 230px;

  @include breakpoint($breakpoint-desk) {
    width: 320px;
    height: 150px;
  }
}
