<ul class="demo-icons">
  <li>{% include "elements-arrow-right" with {iconColor: 'black', iconSize: 'is-small'} %}</li>
  <li>{% include "elements-arrow-right" with {iconColor: 'black', iconSize: 'is-medium'} %}</li>
  <li>{% include "elements-arrow-right" with {iconColor: 'black', iconSize: 'is-large'} %}</li>
  <li>{% include "elements-arrow-right" with {iconColor: 'black', iconSize: 'is-xlarge'} %}</li>
</ul>
<ul class="demo-icons">
  <li>{% include "elements-lightbulb" with {iconColor: 'black', iconSize: 'is-small'} %}</li>
  <li>{% include "elements-lightbulb" with {iconColor: 'black', iconSize: 'is-medium'} %}</li>
  <li>{% include "elements-lightbulb" with {iconColor: 'black', iconSize: 'is-large'} %}</li>
  <li>{% include "elements-lightbulb" with {iconColor: 'black', iconSize: 'is-xlarge'} %}</li>
</ul>
<ul class="demo-icons">
  <li>{% include "elements-tools" with {iconColor: 'black', iconSize: 'is-small'} %}</li>
  <li>{% include "elements-tools" with {iconColor: 'black', iconSize: 'is-medium'} %}</li>
  <li>{% include "elements-tools" with {iconColor: 'black', iconSize: 'is-large'} %}</li>
  <li>{% include "elements-tools" with {iconColor: 'black', iconSize: 'is-xlarge'} %}</li>
</ul>
<ul class="demo-icons">
  <li>{% include "elements-box" with {iconColor: 'black', iconSize: 'is-small'} %}</li>
  <li>{% include "elements-box" with {iconColor: 'black', iconSize: 'is-medium'} %}</li>
  <li>{% include "elements-box" with {iconColor: 'black', iconSize: 'is-large'} %}</li>
  <li>{% include "elements-box" with {iconColor: 'black', iconSize: 'is-xlarge'} %}</li>
</ul>
<ul class="demo-icons">
  <li>{% include "elements-coffee" with {iconColor: 'black', iconSize: 'is-small'} %}</li>
  <li>{% include "elements-coffee" with {iconColor: 'black', iconSize: 'is-medium'} %}</li>
  <li>{% include "elements-coffee" with {iconColor: 'black', iconSize: 'is-large'} %}</li>
  <li>{% include "elements-coffee" with {iconColor: 'black', iconSize: 'is-xlarge'} %}</li>
</ul>



