{#
/**
 * @file
 * Display of itk_footer_text
 *
 * Available variables:
 * - itk_footer_text: Text.
 */
#}
<p>{{ variables.itk_footer_text }}</p>
<div class="footer--logo">{% include "@atoms/03-images/aarhus-logo.twig" %}</div>
