/**
 *
 * Box
 *
 */

$grid-spacing: $spacing;
$grid-spacing-large: $spacing-large;

/* Styles
   ========================================================================== */

.grid {
  @include layout-wrapper($breakpoint-largedesk);

  margin-bottom: $grid-spacing-large;
  margin-top: $grid-spacing-large;

  // States.
  &.has-spacing {
    margin-top: 60px;

    @include breakpoint($breakpoint-desk) {
      margin-top: 120px;
    }
  }

  &--inner {
    display: flex;
    flex-wrap: wrap;
  }

  // Equal Height and Width Columns using Flexbox: https://codepen.io/imohkay/pen/gpard
  &--item {
    align-items: stretch;
    display: flex;
    margin-bottom: $grid-spacing-large;
    margin-left: $grid-spacing;
    margin-right: $grid-spacing;

    @include breakpoint($breakpoint-tablet) {
      // Set margins for 2 columns.
      &:nth-of-type(2n) {
        margin-right: 0;
      }

      &:nth-of-type(2n+1) {
        margin-left: 0;
      }

      width: 50% - $grid-spacing;
    }

    @include breakpoint($breakpoint-desk) {
      // 2 columns = 2 margins, 3 columns = 4 margins, 4 columns = 6 margins.
      // Calculate width: <width> - <number of margins> / <number of columns>.
      width: (100% - 8%) / 3;

      // Set margins from smaller breakpoint.
      &:nth-of-type(2n) {
        margin-right: $grid-spacing;
      }

      &:nth-of-type(2n+1) {
        margin-left: $grid-spacing;
      }

      // Set margins for 3 columns.
      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(3n+1) {
        margin-left: 0;
      }
    }
  }
}
