/**
 *
 * Box
 *
 */

$grid-spacing: 1%;
$grid-spacing-large: 2%;

/* Styles
   ========================================================================== */

.grid {
  @include layout-wrapper($breakpoint-largedesk);

  margin-bottom: $grid-spacing-large;
  margin-top: $grid-spacing-large;

  // States.
  &.has-spacing {
    margin-top: 60px;

    @include breakpoint($breakpoint-desk) {
      margin-top: 120px;
    }
  }

  &--inner {
    display: flex;
    flex-wrap: wrap;
  }

  &--item {
    align-items: stretch;
    display: flex;
    margin-bottom: $grid-spacing-large;
    margin-left: $grid-spacing;
    margin-right: $grid-spacing;

    @include breakpoint($breakpoint-tablet) {
      width: 48%;
    }

    @include breakpoint($breakpoint-desk) {
      width: 32%;

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(3n+1) {
        margin-left: 0;
      }
    }
  }
}
