/**
 *
 * Box
 *
 */

$grid-spacing: 20px;

/* Styles
   ========================================================================== */

.grid {
  @include layout-wrapper($breakpoint-largedesk);

  margin-bottom: $grid-spacing;
  margin-left: $grid-spacing;
  margin-right: $grid-spacing;
  margin-top: $grid-spacing;

  // States.
  &.has-spacing {
    margin-top: 60px;

    @include breakpoint($breakpoint-desk) {
      margin-top: 120px;
    }
  }

  &--inner {
    display: flex;
    flex-flow: row wrap;

    @include breakpoint($breakpoint-desk) {
      margin-left: -$grid-spacing;
      margin-right: -$grid-spacing;
    }

    @include breakpoint($breakpoint-bigscreen) {
      margin-left: auto;
      margin-right: auto;
      max-width: $breakpoint-bigscreen;
    }
  }

  &--item {
    box-sizing: border-box;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    @include breakpoint($breakpoint-desk) {
      // It seems there are some rounding issues (at least in Chrome) that is why we multiply with 2.035.
      // Not pretty but necessary.
      flex-basis: calc(33.3333% - #{$grid-spacing * 2.035});
      margin: $grid-spacing;
    }
  }
}
