<ul class="demo-colors">
  <li>
    <span class="demo-colors--swatch is-white"></span>
    <span class="demo-colors--label is-white"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-gray-lighter"></span>
    <span class="demo-colors--label is-gray-lighter"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-gray-light"></span>
    <span class="demo-colors--label is-gray-light"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-gray-dark"></span>
    <span class="demo-colors--label is-gray-dark"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-gray-darker"></span>
    <span class="demo-colors--label is-gray-darker"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-gray-darkest"></span>
    <span class="demo-colors--label is-gray-darkest"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-black"></span>
    <span class="demo-colors--label is-black"></span>
  </li>
</ul>
