{% embed "footer-column.twig" %}
  {% block title %}Kontakt{% endblock %}
  {% block content %}
    <p>ITK DEVTEAM</p>
    <p>Dokk1, niveau 2.2</p>
    <p>Hack Kampmanns Plads 2</p>
    <p>8000 Aarhus C</p>
    <p><a href="#">Se hvem vi er</a></p>
  {% endblock %}
{% endembed %}
