{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<footer class="footer">
  <div class="footer--content">
    {% if content %}
        {{ content }}
    {% endif %}
  </div>
  <div class="footer--bottom">
    {% block bottom %}
      <p>- en del af Aarhus Kommune</p>
      <div class="footer--logo">{% include "@atoms/03-images/aarhus-logo.twig" %}</div>
    {% endblock %}
  </div>
</footer>