@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter'), url(/themes/custom/devteam/fonts/bitter/Bitter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  src: local('Bitter-Italic'), url(/themes/custom/devteam/fonts/bitter/Bitter-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: local('Bitter-Bold'), url(/themes/custom/devteam/fonts/bitter/Bitter-Bold.ttf) format('truetype');
}
