<ul class="demo-colors">
  <li>
    <span class="demo-colors--swatch is-orange"></span>
    <span class="demo-colors--label is-orange"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-green"></span>
    <span class="demo-colors--label is-green"></span>
  </li>
</ul>
