@import "../assets/fonts/raleway/Raleway";

$font-family:           Arial, sans-serif;
$font-light:            "Raleway-Light", $font-family;
$font-light-italic:     "Raleway-LightItalic", $font-family;
$font-regular:          "Raleway", $font-family;
$font-italic:           "Raleway-Italic", $font-family;
$font-semibold-italic:  "Raleway-Semibold", $font-family;
$font-semibold:         "Raleway-SemiboldItalic", $font-family;
$font-bold:             "Raleway-Bold", $font-family;
$font-bold-italic:      "Raleway-BoldItalic", $font-family;
$font:                  1em/1.5 $font-regular, $font-family;
