/* stylelint-disable */

$color-orange:          #ff6620;
$color-green:           #00a485;
$color-dark-blue:       #002f2f;
$color-blue:            #006084;
$color-white:           #ffffff;
$color-gray-lighter:    #f1f1f1;
$color-gray-light:      #d2d2d2;
$color-gray-dark:       #9c9c9c;
$color-gray-darker:     #6f6f6f;
$color-gray-darkest:    #3a3a3a;
$color-black:           #181715;

$colors: (
  "orange":       $color-orange,
  "green":        $color-green,
  "dark-blue":    $color-dark-blue,
  "blue":         $color-blue,
  "gray-white":   $color-white,
  "gray-lighter": $color-gray-light,
  "gray-light":   $color-gray-light,
  "gray-dark":    $color-gray-dark,
  "gray-darker":  $color-gray-darker,
  "gray-darkest": $color-gray-darkest,
  "black":        $color-black
);