<ul class="demo-colors">
  <li>
    <span class="demo-colors--swatch is-dark-blue"></span>
    <span class="demo-colors--label is-dark-blue">
		</span>
  </li>
  <li>
    <span class="demo-colors--swatch is-blue"></span>
    <span class="demo-colors--label is-blue">
		</span>
  </li>
</ul>
