<p class="demo-font--light">Light: "Raleway Light", "Arial", sans-serif;</p>
<p class="demo-font--light-italic">Light italic: "Raleway Light Italic", "Arial", sans-serif;</p>
<p class="demo-font--regular">Regular: "Raleway", "Arial", sans-serif;</p>
<p class="demo-font--italic">Italic: "Raleway", "Arial", sans-serif;</p>
<p class="demo-font--semibold">Semibold: "Raleway Semibold", "Arial", sans-serif;</p>
<p class="demo-font--semibold-italic">Semibold italic: "Raleway SemiboldItalic", "Arial", sans-serif;</p>
<p class="demo-font--bold">Bold: "Raleway Bold", "Arial", sans-serif;</p>
<p class="demo-font--bold-italic">Bold italic: "Raleway BoldItalic", "Arial", sans-serif;</p>
