<ul class="demo-icons">
  <li>{% include "atoms-arrow-right" with {iconColor: 'is-black', iconSize: 'is-small'} %}</li>
  <li>{% include "atoms-arrow-right" with {iconColor: 'is-black', iconSize: 'is-medium'} %}</li>
  <li>{% include "atoms-arrow-right" with {iconColor: 'is-black', iconSize: 'is-large'} %}</li>
  <li>{% include "atoms-arrow-right" with {iconColor: 'is-black', iconSize: 'is-xlarge'} %}</li>
</ul>
<ul class="demo-icons">
  <li>{% include "atoms-lightbulb" with {iconColor: 'is-black', iconSize: 'is-small'} %}</li>
  <li>{% include "atoms-lightbulb" with {iconColor: 'is-black', iconSize: 'is-medium'} %}</li>
  <li>{% include "atoms-lightbulb" with {iconColor: 'is-black', iconSize: 'is-large'} %}</li>
  <li>{% include "atoms-lightbulb" with {iconColor: 'is-black', iconSize: 'is-xlarge'} %}</li>
</ul>
<ul class="demo-icons">
  <li>{% include "atoms-tools" with {iconColor: 'is-black', iconSize: 'is-small'} %}</li>
  <li>{% include "atoms-tools" with {iconColor: 'is-black', iconSize: 'is-medium'} %}</li>
  <li>{% include "atoms-tools" with {iconColor: 'is-black', iconSize: 'is-large'} %}</li>
  <li>{% include "atoms-tools" with {iconColor: 'is-black', iconSize: 'is-xlarge'} %}</li>
</ul>
<ul class="demo-icons">
  <li>{% include "atoms-box" with {iconColor: 'is-black', iconSize: 'is-small'} %}</li>
  <li>{% include "atoms-box" with {iconColor: 'is-black', iconSize: 'is-medium'} %}</li>
  <li>{% include "atoms-box" with {iconColor: 'is-black', iconSize: 'is-large'} %}</li>
  <li>{% include "atoms-box" with {iconColor: 'is-black', iconSize: 'is-xlarge'} %}</li>
</ul>
<ul class="demo-icons">
  <li>{% include "atoms-coffee" with {iconColor: 'is-black', iconSize: 'is-small'} %}</li>
  <li>{% include "atoms-coffee" with {iconColor: 'is-black', iconSize: 'is-medium'} %}</li>
  <li>{% include "atoms-coffee" with {iconColor: 'is-black', iconSize: 'is-large'} %}</li>
  <li>{% include "atoms-coffee" with {iconColor: 'is-black', iconSize: 'is-xlarge'} %}</li>
</ul>



