<div class="text">
  <h1 class="is-title">{% block header %}{% endblock %}</h1>
  <p class="text--lead">
    {% block lead %}{% endblock %}
  </p>
  <div class="text--content">
    {% block content %}{% endblock %}
  </div>
</div>
