/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for color swatches, etc.
 * These styles will not be your production CSS.
 */

/* stylelint-disable */

@import "_base/colors";
@import "_patterns/00-elements/00-global/fonts";
@import "_patterns/00-elements/01-helpers/breakpoint";
@import "_patterns/00-elements/01-helpers/strip-link-styles";
@import "_patterns/00-elements/01-helpers/word-wrap";
@import "_patterns/00-elements/01-helpers/z-index";

$border-radius: 8px;
$demo-z-index-elements: one, two, three;

.demo-z-index {
  background-color: $color-orange;
  border-radius: $border-radius;
  color: $color-white;
  height: 350px;
  position: relative;
  width: 575px;

  &--one,
  &--two,
  &--three {
    border-radius: $border-radius;
    display: flex;
    height: 200px;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 200px;

    p {
      flex: 0 1 auto;
      margin: auto;
    }
  }

  &--one {
    background-color: $color-green;
    left: 25px;
    top: 25px;
    z-index: z($demo-z-index-elements, one);
  }

  &--two {
    background-color: $color-blue;
    left: 175px;
    top: 75px;
    z-index: z($demo-z-index-elements, two);
  }

  &--three {
    background-color: $color-dark-blue;
    left: 350px;
    top: 125px;
    z-index: z($demo-z-index-elements, three);
  }
}


$demo-colors: (
  "orange":       $color-orange,
  "green":        $color-green,
  "dark-blue":    $color-dark-blue,
  "blue":         $color-blue,
  "gray-white":   $color-white,
  "gray-lighter": $color-gray-light,
  "gray-light":   $color-gray-light,
  "gray-dark":    $color-gray-dark,
  "gray-darker":  $color-gray-darker,
  "gray-darkest":  $color-gray-darkest,
  "black":        $color-black,
);

@function demo-color($demo-color-key) {
  $demo-color: map-get($demo-colors, $demo-color-key);

  @if $demo-color {
    @return $demo-color;
  }

  @warn "Key `#{$demo-color-key}` not found in $colors.";
  @return null;
}

.demo-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border: 1px solid $color-gray-light;
    border-radius: 8px;
  }

  &--swatch {
    display: block;
    height: 4em;
    border-radius: 5px;
  }

  &--label {
    font-size: 90%;
    line-height: 1;

    &:before,
    &:after {
      display: block;
      margin-top: 10px;
    }
  }

  @each $color-key, $color-value in $demo-colors {
    &--swatch {
      &.is-#{$color-key} {
        background-color: demo-color(#{$color-key});
      }
    }

    &--label {
      &.is-#{$color-key} {
        &:before {
          content: "$color-#{$color-key}";
        }

        &:after {
          content: "#{demo-color($color-key)}";
        }
      }
    }
  }
}


$demo-fonts: (
  "light":            $font-light,
  "light-italic":     $font-light-italic,
  "regular":          $font-regular,
  "italic":           $font-italic,
  "semibold":         $font-semibold,
  "semibold-italic":  $font-semibold-italic,
  "bold":             $font-bold,
  "bold-italic":      $font-bold-italic,
);

.demo-font {
  @each $font-key, $font-value in $demo-fonts {
    &--#{$font-key} {
      font-family: $font-value;
    }
  }
}
