h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary-bold;
  font-weight: 700;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: $spacing-pixel-medium;

  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;

  &.is-big,
  &.is-quote {
    color: $color-dark-blue;
    flex-basis: 100%;
    font-size: 24px;
    text-align: center;
  }

  &.is-big {
    @include breakpoint($breakpoint-lap) {
      font-size: 30px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 36px;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 48px;
    }
  }

  &.is-quote {
    @include breakpoint($breakpoint-lap) {
      font-size: 32px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 48px;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 60px;
    }
  }
}