h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: $color-black;

    &:link,
    &:visited,
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:link {
      color: $color-black;
    }

    &:visited {
      color: $color-gray-dark;
    }

    &:hover,
    &:focus {
      color: $color-gray-darkest;
    }
  }
}