a {
  &:link {
    color: $color-orange;
    text-decoration: underline;
  }

  &:visited {
    color: darken($color-orange, 5%);
  }

  &:hover {
    color: darken($color-orange, 10%);
    text-decoration: none;
  }

  &:focus {
    color: darken($color-orange, 15%);
  }
}
