.text {
  &--lead {
    font-family: $font-bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing-pixel-small;
    text-align: center;
  }

  &--content {
    border-top: 1px solid $color-gray-light;
    flex-basis: 100%;
    margin-top: $spacing-pixel-small;
    padding-top: $spacing-pixel-small;

    p + p {
      margin-top: $spacing-pixel-small;
    }
  }
}
